{% extends 'base.html' %}

{% block content %}

<!-- Flask flashed message to user -->
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'user-success' %}
                <div class="container">
                    {{ msg }}
                    <button type = "button" class = "close" data-dismiss = "alert", onclick = "this.parentElement.style.display = 'none'">&times;</button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<header class="hero-section">
    <h3 class="header-text">Welcome to Coding Drones, {{ current_user.email }}</h3>
</header>

<div class="container">
    <h3>Here are your profile details:</h3>
    <ul class="list-group">
        <li class="list-group-item">email: {{ current_user.email }}</li>
        <li class="list-group-item">token:  {{ current_user.token }}</li>
    </ul>
</div>

{% endblock content %}